/.idea
/.vscode
/venv
/~$диплом.pptx
/~$Презентация Microsoft PowerPoint.pptx
/Диплом Соболев.docx
/диплом.pptx
/Дневник преддипломной  практики ПИ_19 ОБРАЗЕЦ.docx
/защита практики.pptx
/Образец титульного листа отчёта по НИР.docx
/Презентация Microsoft PowerPoint.pptx