{% extends 'base.html' %}
{% block content %}
<section class="matches-list">
	<h2>Список матчей</h2>
	<ul class="matches">
		{%if request.user.groups.all.0.name == 'referee'%}
		<a href="/addMatch/" class="button">Новый матч</a>
		{%endif%}
		{%for i in matches%}
		<div class="container">
			<h1>{{i.Type}} Матч команды {{i.TeamA}} против команды {{i.TeamB}}</h1>
			<div class="scoreboard">
			  <div class="team">
				<span class="score">{{i.ScoreA}}</span>
			  </div>
			  <div class="vs">VS</div>
			  <div class="team">
				<span class="score">{{i.ScoreB}}</span>
			  </div>
			</div>
			<a href="/matchDetail/{{i.id}}/" class="button">Детали</a>
		  </div>
		  {%endfor%}
		  
	</ul>
</section>

{% endblock %}

